.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.container {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.sectionContainer {
    margin: 20px 0;
    padding: 20px 30px;
    background-color: var(--grey-background);
    z-index: 11;
}
.sectionContainer button {
    cursor: pointer;
}
@media ( max-width: 480px ) {
    .mainSection h2 {
        font-size: 16px;
    }
    .container {
        width: 90%;
    }
    .sectionContainer {
        padding: 10px;
    }
}