.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.mainSection h2,
.mainSection h3 {
    width: 100%;
    text-align: center;
}
.mainSection h3 {
    color: var(--purple-color);
    font-weight: normal;
}
.container {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.sectionContainer {
    margin: 20px 0;
    padding: 30px;
    background-color: var(--grey-background);
    z-index: 11;
}
.dataUser {
    height: auto;
}
.editIcon,
.confirmIcon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.editIcon {
    background-image: url(/img/edit.webp);
}
.confirmIcon {
    background-image: url(/img/check.webp);
}
.disbleConfirmIcon {
    opacity: .5;
    cursor: not-allowed;
}
.userForm {
    display: flex;
    margin: 30px 0;
}
.dataText {
    width: 100%;
    display: flex;
    align-items: center;
}
.userForm p:nth-child(1) {
    width: 60%;
    margin: 0;
}
.userForm p:nth-child(2) {
    width: calc( ( 40% - 30px ) );
    margin: 0 10px 0 0;
    padding-left: 2px;
    overflow: hidden;
}
.formContent {
    width: 100%;
    display: flex;
    align-items: center;
}
.formContent label {
    width: 60%;
}
.formContent input {
    width: calc( (40% - 30px) );
    color: var(--purple-color);
    margin-right: 10px;
    border: none;
    outline: none;
}
.show {
    display: flex;
}
.hide {
    display: none;
}
@media ( max-width: 480px ) {
    .mainSection h2 {
        font-size: 16px;
    }
    .mainSection {
        font-size: 12px;
    }
}
