.navBar {
    height: 100vh;
    width: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 30px 20px;
    background-color: var(--grey-background);
}
.navBar button {
    height: 40px;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-background);
    width: 100%;
    cursor: pointer;
}
.navLinksContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.navLogo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.navLinksContainer p {
    text-align: center;
    text-transform: uppercase;
}
.navLinksContainer a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 7px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .7s ease-in-out;
}
.icon {
    display: block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.dashboard {
    background-image: url(/img/dashboard-icon.webp);
}
.products {
    background-image: url(/img/products-icon.webp);
}
.settings {
    background-image: url(/img/settings-icon.webp);
}
.logout {
    background-image: url(/img/logout-icon.webp);
    display: none;
}
.contentButton {
    display: visible;
}
.navLowerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navLowerSection p {
    margin: 5px;
    text-align: center;
}
.navLowerSection p {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navLowerSection button {
    margin-top: 20px;
}
.adminSection {
    height: 100%;
    width: 85%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 15%;
    color: white;
    background-image: url(/img/admin-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media ( max-width: 1024px ) {
    .navLinksContainer a span:nth-child(1) {
        display: none;
    }
    .contentButton {
        display: none;
    }
    .logout {
        display: block;
    }
    .navLinksContainer a {
        width: auto;
        padding: 7px 10px;
    }

}
@media ( max-width: 480px ) {
    .navBar {
        width: 22%;
        padding: 20px 10px 30px 10px;
    }
    .adminSection {
        width: 78%;
        left: 22%;
    }
    .navLogo {
        height: 40px;
        width: 40px;
    }
    .navLinksContainer p {
        font-size: 12px;
    }
    .navBar button {
        height: auto;
        width: 60%;
        padding: 7px 0;
    }
    .navLowerSection p {
        font-size: 12px;
    }
    
}
