.catalogContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardContainer {
    padding: 0 6% 6% 6%;
    height: 100%;
    width: 100%;
    display: grid;
    overflow-y: auto;
    gap: 12% 6%;
}
.cardContainer {
    scrollbar-width: thin !important;
    scrollbar-color: var(--purple-background) var(--grey-background);
}
.cardContainer::-webkit-scrollbar{
    width: 10px;
}
.cardContainer::-webkit-scrollbar-track {
    background-color: var(--grey-background);
}
.cardContainer::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid var(--grey-background);
    background-color: var(--purple-background);
}
.cardItem {
    /* padding: 10% 0 4% 0; */
    padding-top: 10%;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: var(--purple-background);
}
.cardItem img {
    width: 80%;
}
@media ( max-width: 480px ) {
    .cardContainer{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }   
    .catalogContainer h2 {
        font-size: 18px;
    } 
}
@media ( min-width: 1024px ) {
    .cardContainer{
        grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
    }
}
