.catalogContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardContainer {
    padding: 6%;
    height: 100%;
    width: 100%;
    display: grid;
    overflow-y: scroll;
    gap: 12% 6%;
}
.cardContainer::-webkit-scrollbar{
    width: 10px;
}
.cardContainer::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid var(--purple-background);
    border-radius: 5px;
}
.cardContainer::-webkit-scrollbar-thumb {
    background-color: var(--purple-background);
    border-radius: 5px;
}
.cardItem {
    padding: 10% 0 4% 0;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: var(--purple-background);
}
.cardItem img {
    width: 80%;
}
@media ( max-width: 480px ) {
    .cardContainer{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }   
    .catalogContainer h2 {
        font-size: 18px;
    } 
}
@media ( min-width: 1024px ) {
    .cardContainer{
        grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
    }
}
